* {
  box-sizing: border-box;
  font-family: arial, sans-serif;
  list-style: none;
}

body {
  text-align: center;
  margin: 0;
  color: white;
  border: solid;
  min-height: 200vh;
}

.box {
  border: 6px solid white;
  transition: 0.25s ease;
  background: black;
  padding: 0px;
}

p {
  visibility: hidden;
  width: 240px;
  margin: 10px auto 0;
  opacity: 0;
  transition: 0.6s;
}

.question-clicked {
  background: rgb(7, 6, 6);
  border-radius: 30px;
  border: 6px dashed pink;
}

.show-response {
  visibility: visible;
  opacity: 1;
  translate: translatex(0);
}

.mousemove {
  height: 50px;
  width: 50px;
  border: 2px solid pink;
  position: absolute;
  transform: translate(-50%, -50%);
  border-radius: 50px;
  z-index: -1;
}

nav {
  background-color: pink;
  position: fixed;
  width: 100%;
  height: 50px;
  top: -50px;
  transition: 1s;
}
nav::after {
  content: "";
  height: 150px;
  width: 150px;
  background: radial-gradient(circle closest-side, white ,transparent
  );
  position: absolute;
  transform: translate(-50%, 50%);
  transition: 0.25s;
  z-index: 20;
  opacity: 0;
}
nav:hover::after {
  opacity: 1;
}

ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0;
}
